/bericht/bericht-blx.bib
/bericht/bericht.aux
/bericht/bericht.bbl
/bericht/bericht.blg
/bericht/bericht.log
/bericht/bericht.out
/bericht/bericht.run.xml
/bericht/bericht.synctex.gz
/bericht/bericht.toc
